<div class="row title--container">
  <div class="small-12 columns text-center">
    <h1>Submit your Open Photo</h1>
  </div>
</div>

<div class="row">
  <div class="medium-10 columns medium-centered">
    <div class="box">
      <iframe class="submission-iframe" src="http://form.openeducationweek.org/openphoto-submission-embed/" seamless="true" frameborder="0"></iframe>
    </div>
  </div>
</div>
{{outlet}}
