<div class="row">
  <ul class="menu schedule--menu">
    {{#active-link}}
      {{#link-to (query-params selectedDate='2017-03-27')}}Monday, 27.3.{{/link-to}}
    {{/active-link}}
    {{#active-link}}
      {{#link-to (query-params selectedDate='2017-03-28')}}Tuesday, 28.3.{{/link-to}}
    {{/active-link}}
    {{#active-link}}
      {{#link-to (query-params selectedDate='2017-03-29')}}Wednesday, 29.3.{{/link-to}}
    {{/active-link}}
    {{#active-link}}
      {{#link-to (query-params selectedDate='2017-03-30')}}Thursday, 30.3.{{/link-to}}
    {{/active-link}}
    {{#active-link}}
      {{#link-to (query-params selectedDate='2017-03-31')}}Friday, 31.3.{{/link-to}}
    {{/active-link}}
  </ul>
</div>
