<div class="row">
  <div class="small-12 columns text-center">
      <h1>Schedule of Events</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns text-center">
      {{#link-to "schedule.local" class="button large"}}Show Local Events{{/link-to}}
      {{#link-to "schedule.local" class="button large"}}Show Online Events{{/link-to}}
  </div>
</div>

{{outlet}}
