<div class="home-second--container">
  <div class="row text-center">
    <div class="medium-6 columns clearfix">
      <h1 class="home-second--title">What is Open Education?</h1>
      <p>By providing free and open access to education and knowledge, we help create a world where people can fulfill this desire.</p>
      <a class="button red" href="#">Why is it important?</a>
    </div>
    <div class="medium-6 columns clearfix">
      <h1 class="home-second--title">Call for Participation</h1>
      <p>Submit your events, projects &amp; resources</p>
      <a class="button cyan">How to submit</a>
    </div>
  </div>
</div>

<div class="home-third--container">
  <div class="row">
    <div class="medium-6 columns">
      {{#twitter-feed}}
        <a class="twitter-timeline" href="https://twitter.com/hashtag/openeducationwk" data-widget-id="692740529117884416">#openeducationwk Tweets</a>
      {{/twitter-feed}}
    </div>
    <div class="medium-6 columns text-center">
      <iframe width="480" height="240" src="https://www.youtube-nocookie.com/embed/ZFeyCc6we-s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

      <h2 class="home-third--title">Help us spread the news</h2>
      <p>
        Hashtag: #openeducationwk<br />
        Connect with fellow Open Education Week participants
      </p>
      <p class="home-third--social">
        <a class="fb" href="#"><i class="icon-facebook"></i></a>
        <a class="tw" href="#"><i class="icon-twitter"></i></a>
        <a class="yt" href="#"><i class="icon-youtube-play"></i></a>
      </p>
      <p>
        <a class="button red" href="#">How to join</a>
        <a class="button red home-third--downloadables" href="#">Downloadables</a>
      </p>
    </div>
  </div>
</div>

<div class="home-fourth--container">
  <div class="row">


    <div class="medium-6 columns small-centered text-center">
      <h2 class="home-fourth--title">More and more people are joining</h2>
      <h3 class="home-fourth--subtitle">Be part of Open Education Week movement</h3>
    </div>

    <div class="small-12 columns"></div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">115</div>
      <div class="home-fourth--stat-name">Countries</div>
    </div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">3,015</div>
      <div class="home-fourth--stat-name">Projects</div>
    </div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">2,115</div>
      <div class="home-fourth--stat-name">Events</div>
    </div>

    <div class="small-3 columns text-center">
      <div class="home-fourth--stat-number">1,215</div>
      <div class="home-fourth--stat-name">Resources</div>
    </div>

    <img src="assets/images/world-stats.svg" class="graphic--world-stats" />
  </div>
</div>
