<div class="row">
  <div class="small-12 columns text-center">
      <h1>Schedule of Online Events</h1>
  </div>
</div>

{{x-schedule-tabs}}

{{x-schedule-table-online filteredEvent=filteredEvent}}

{{outlet}}
