<div class="row">
  <div class="medium-10 columns medium-centered">
    <div class="box">
      <iframe class="submission-iframe" src="http://form.openeducationweek.org/submission-iframe/" seamless="true" frameborder="0"></iframe>
    </div>
  </div>
</div>
{{outlet}}
