<div class="row title--container">
  <div class="small-12 columns">
    <h1>Events</h1>
    <span class="breadcrumbs"><a href="#">Main</a>  >  <a href="#">Events</a>  >  Flipping it: Teaching and Learning in an Inverted Classroom</span>
  </div>
</div>

<div class="row content--container">
  <div class="small-4 columns">
    <div class="box">
      <dl class="box--meta">
        <dd><i class="icon-camera"></i> Type of Event</dd>
        <dt>Local Event</dt>

        <dd><i class="icon-clock"></i> Date and Time</dd>
        <dt>10. Mar 2015 10:00 AM</dt>

        <dd><i class="icon-flag"></i> Language</dd>
        <dt>Croatian</dt>

        <dd><i class="icon-user"></i> Submitter</dd>
        <dt>John Doe</dt>

        <dd><i class="icon-building"></i> Institution</dd>
        <dt>OIKON Ltd. - Institute for applied ecology</dt>
      </dl>
    </div>

    <div class="box">
      <dl class="box--meta">
        <dd><i class="icon-marker"></i> Location</dd>
        <dt>
          <a href="#">
            Glavna Avenija 1,<br />
            Zagreb,<br />
            Croatia
          </a>
        </dt>
      </dl>
    </div>
  </div>

  <div class="small-8 columns">
    <div class="box--image">
      <img src="http://loremflickr.com/800/410/nature" />
    </div>
    <div class="box box--with-image">
      <h2 class="box--title">Flipping it: Teaching and Learning in an Inverted Classroom Teaching and Learning in an Inverted Classroom</h2>
      <div class="box--divider"></div>
      <div class="box--content">
        <p>A “flipped” or “inverted” classroom is a learning model in which students learn course content at home before attending a physical class where they discuss, practice, and otherwise engage with that content. In Fall 2014, a flipped approach was used to teach Math 1000 (Calculus 1) at Grenfell Campus, Memorial University. In preparation for class, students watched screencasts of new lecture material, completed short practice activities, and took an online quiz; in class, students participated in instructor-led discussion about the new material and completed additional practice activities with peer and instructor assistance. This presentation will discuss tools for facilitating a flipped classroom (including screencasts, online assessments, and free electronic texts) as well as student response to the flipped format.
        Facilitator: Rebecca Milley, Assistant Professor, Computational Mathematics, Grenfell Campus, Memorial University</p>
        <p>Intended audience: Faculty, teachers, instructional staff, instructional designers</p>
        <p>This event will also be live streamed at <a href="#">http://www.open.mun.ca</a>.</p>
      </div>
    </div>
  </div>
</div>

{{outlet}}
