<div class="row title--container">
  <div class="small-12 columns text-center">
    <h1>{{model.title}}</h1>
  </div>
</div>
<div class="row content--container">
  <div class="small-8 columns small-centered">
    <div class="box">
      {{{model.content}}}
    </div>
  </div>
</div>
{{outlet}}
