<div class="row title--container">
  <div class="small-12 columns text-center">
    <h1>Open Education initiatives</h1>

    <p>The question answered by each interviewee was: What benefit does your institution realize from implementing Open Education initiatives?<br /> All the movies were recorded at OpenEd15 in Vancouver, British Columbia.</p>


  </div>
</div>

<div class="row initiatives--box initiatives">
  <div class="medium-6 columns">
    <iframe class="home-first--youtube" src="https://www.youtube-nocookie.com/embed/bDSuLIyAfho?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="medium-6 columns">
      <div class="home-first--title">David Porter,<br />Associate Vice-President</div>
      <div class="home-first--subtitle">Education Support and Innovation, British Columbia Institute of Technology (BCIT)</div>

      <p>BCIT is a huge technology trades, health care, and practitioner training environment.  Many of the faculty came to open education of their own volition with three faculty authored open textbooks being published this month for the health care professions, printing trades technology, and engineering sciences.  An OER Working Committee is now spearheading the effort primarily through the library and the Learning and Teaching Center.</p>
      <p>Staff are seeing “OER” as a gift to their colleagues to be able to share resources that can be customized and made more relevant for students.  Our instructors are really driven to improve the learning experience for students while saving costs so this is a perfect synergy.</p>
  </div>
</div>
<div class="row initiatives--box initiatives">
  <div class="medium-6 columns">
    <iframe class="home-first--youtube" src="https://www.youtube-nocookie.com/embed/7DQoR7TTg0c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="medium-6 columns">
      <div class="home-first--title">Heather Ross,<br />Instructional Design Specialist</div>
      <div class="home-first--subtitle">University of Saskatchewan</div>

      <p>I work closely with Faculty around open textbook and OER for curriculum development.  I think OER should be about making the learning experience better for students.   Creating access for more students and lowering costs is great but the fact that we can adapt materials allows us to make the learning so much better.</p>
  </div>
</div>
<div class="row initiatives--box initiatives">
  <div class="medium-6 columns">
    <iframe class="home-first--youtube" src="https://www.youtube-nocookie.com/embed/VKDpaxvj-Yw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="medium-6 columns">
      <div class="home-first--title">Steve Carson,<br />Director of Operations, Open Pediatrics</div>
      <div class="home-first--subtitle">Boston Children's Hospital</div>

      <p>Simply put, open for Open Pediatrics means saving lives.   Children everywhere around the world are dying everyday because the information on how to treat them is not available.  What we strive to do is to get clinicians everywhere around the world to share the life saving treatments they have developed openly and in advance of the need by using open licenses.</p>
      <p>Formerly at MIT OpenCourseware and president of the Open Education Consortium board, it is really thrilling to be at OpenEd15 and see a community of more than 500 people gathered.  When I think back to 2003 when I first started in open education, it was a crazy idea that MIT faculty had.   Now looking forward, it is a force to be reckoned with in the education community and it is going to change the landscape and the opportunities that are available to students everywhere.</p>
  </div>
</div>
<div class="row initiatives--box initiatives">
  <div class="medium-6 columns">
    <iframe class="home-first--youtube" src="https://www.youtube-nocookie.com/embed/F7SLPskTPvc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="medium-6 columns">
      <div class="home-first--title">Jody Carson,<br />Faculty and Instructional Coach</div>
      <div class="home-first--title home-initiativies--title">Sue Tashjian, Coordinator,<br />Center for Instructional Technology and Adjunct Faculty.</div>
      <div class="home-first--subtitle">North Essex Community College, Massachusetts</div>

      <p>As the co-chairs of the college textbook taskforce, we head up the open education initiatives at NECC.  One of the biggest benefits to using OER for our courses rather than traditional textbooks is that all of our students have access to their instructional materials on day one of their classes.  They no longer have to wait for a book voucher, financial aid, or refund checks but are able to get their information on day one.  One of the most exciting things is seeing how faculty have transformed their courses by using OER.  They are really excited about the process and the courses that they have been able to customize for their students and not allow the publishers to tell them what to teach because they are the experts in the field.</p>
  </div>
</div>
