<div class="row">
  <div class="small-12 columns text-center">
      <h1>Submissions</h1>
  </div>

  {{#each model as |submission|}}
  <li>
    {{submission.title}}
    {{submission.postStatus}}
  </li>
  {{/each}}
</div>
