<div class="row">
  <div class="medium-5 columns">
    <img src="assets/images/world.svg" class="graphic--world" />
  </div>
  <div class="medium-1 columns hide-for-small-only">&nbsp;</div>
  <div class="medium-5 columns text-center">
      <h1 class="home-first--title">Open Education Week’s goal is to raise awareness about free and open educational opportunities that exist for everyone, everywhere, right now.</h1>

      <a class="button cyan home-first--button-left" href="#">About the global event</a>
      <a class="button cyan" href="#">How to join</a>
  </div>
  <div class="medium-1 columns hide-for-small-only"></div>
</div>
