{{#carousel-container transition-interval=300}}
  <div class="row">
    {{#carousel-body}}
      {{#carousel-item}}
        <div class="medium-5 columns">
          <img src="assets/images/world.svg" class="graphic--world" />
        </div>
        <div class="medium-1 columns hide-for-small-only">&nbsp;</div>
        <div class="medium-5 columns text-center">
            <div class="home-first--title">March 7th to 11th, 2016</div>
            <div class="home-first--subtitle">Open Education Week’s goal is to raise awareness about free and open educational opportunities that exist for everyone, everywhere, right now.</div>

            {{#link-to "page" "about-open-education-week" class="button cyan"}}About Open Education Week{{/link-to}}
        </div>
        <div class="medium-1 columns hide-for-small-only"></div>
      {{/carousel-item}}
    {{/carousel-body}}

  </div>

  {{!-- {{carousel-arrow direction="left" class="line-arrow left"}} --}}
  {{!-- {{carousel-arrow direction="right" class="line-arrow right"}} --}}

{{/carousel-container}}
