<h2 id="title">Open Education Week</h2>

{{#if session.isAuthenticated}}
  <button {{action 'logout'}}>Logout</button>
{{else}}
  {{#link-to "login"}}Login{{/link-to}}
{{/if}}

{{#link-to "openphotos"}}Open Photos{{/link-to}}
{{outlet}}
