<header>
  <div class="row">
    <div class="small-2 columns">
      <img src="assets/images/logo.svg" />
    </div>
    <div class="small-8 columns">
      <ul class="menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Call for Participation</a></li>
        <li><a href="#">Projects &amp; Resources</a></li>
        <li><a href="#">Global Events</a></li>
        <li><a href="#">Open Photo</a></li>
      </ul>
    </div>
    <div class="small-2 columns">
      <a href="#" class="button cyan header--submit">Submit</a>
    </div>
  </div>
</header>

<div class="row">
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>Logout</button>
  {{else}}
    {{#link-to "login"}}Login{{/link-to}}
  {{/if}}

  {{#link-to "openphotos"}}Open Photos{{/link-to}}
  {{#link-to "styleguide"}}Style Guide{{/link-to}}
  {{outlet}}
</div>

<footer>
  <div class="row">
    <div class="footer--navigation clearfix">
      <div class="small-3 columns">
        <div class="footer--organizedby">Organized by</div>
        <a href="http://www.oeconsortium.org">
          <img src="assets/images/oec-logo.svg" alt="Open Education Consortium" />
        </a>
      </div>
      <div class="small-3 columns">
        <span class="footer--navigation--title">Menu</span>
        <ul class="no-bullet footer--navigation--menu">
          <li><a href="#">What is Open Education</a></li>
          <li><a href="#">Press Releases</a></li>
          <li><a href="#">Call for Participation</a></li>
          <li><a href="#">Projects &amp; Resources</a></li>
          <li><a href="#">Global Events</a></li>
          <li><a href="#">Picture Yourself Open</a></li>
        </ul>
      </div>

      <div class="small-3 columns">
        <span class="footer--navigation--title">Archives</span>
        <ul class="no-bullet footer--navigation--menu">
          <li><a href="#">OE Week 2015</a></li>
          <li><a href="#">OE Week 2014</a></li>
          <li><a href="#">OE Week 2013</a></li>
          <li><a href="#">OE Week 2012</a></li>
        </ul>
      </div>

      <div class="small-3 columns">
        <span class="footer--navigation--title">Downloads</span>
        <ul class="no-bullet footer--navigation--menu">
          <li><a href="#">Logo</a></li>
          <li><a href="#">Poster</a></li>
          <li><a href="#">Banner</a></li>
          <li><a href="#">Slides</a></li>
          <li><a href="#">Badge</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="footer--byline">Open Education Week is a celebration of the global Open Education Movement. Its purpose is to raise awareness about the movement and its impact on teaching and learning worldwide. Participation in all events and use of all resources are free and open to everyone.</div>
      <div class="footer--license row">
        <div class="medium-1 columns">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
        </div>
        <div class="medium-11 columns">
          Except where otherwise noted, content on openeducationweek.org is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
